# fly.toml app configuration file generated for devcartify-app on 2026-02-19T15:52:17+05:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'devcartify-app'
primary_region = 'nrt'

[build]


[env]
  PORT = '3000'
  SCOPES = 'read_fulfillments,read_merchant_managed_fulfillment_orders,read_orders,write_fulfillments,write_merchant_managed_fulfillment_orders,write_orders'
  SHOPIFY_API_KEY = 'e6e32e2eae587c797f8fe3a832b27a40'
  SHOPIFY_APP_URL = 'https://devcartify-app.fly.dev'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
